###############################################################
#
# Environment setup
#
###############################################################

# url --url="http://192.168.122.1:8090/cent7"
text
cdrom
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
eula --agreed
reboot

###############################################################
#
# network configuration
#
###############################################################

# network --bootproto=static --ip=192.168.122.100 --gateway=192.168.122.1  --netmask=255.255.255.0  --noipv6 --device=eth0 --nameserver=192.168.122.1,8.8.8.8 --activate

# Use DHCP
# network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=%HOSTNAME%
timezone US/Eastern --isUtc

###############################################################
#
# partitioning
#
###############################################################

# Do it automatically
ignoredisk --only-use=vda
bootloader --location=mbr --boot-drive=vda
zerombr
clearpart --none --initlabel
autopart --type=lvm

# part swap --asprimary --fstype="swap" --size=1024
# part /boot --fstype xfs --size=200
# part pv.01 --size=1 --grow
# volgroup rootvg01 pv.01
# logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow


###########################################################################################
# 
# User Accounts
# Generate encrypted password: python -c 'import crypt; print(crypt.crypt("My Password"))'
# Or  openssl passwd -1 password
#
###########################################################################################

rootpw %PASSWORD%
# user --groups=wheel --name=josepy --password=password --gecos="Mutai Josphat"

###############################################################
#
# SELinux and Firewalld
#
###############################################################

selinux --enforcing
#selinux --permissive
#selinux --disabled

# firewall --enabled --http --ssh --ftp --port=https:tcp --port=ipp:tcp
# firewall --disabled


###############################################################
#
# Software Packages
#
###############################################################

%packages --nobase --ignoremissing
@core
@base

# arp
net-tools
tar

%end

%post

# Allow login as root with SSH
sed -i '/^#PermitRootLogin/c PermitRootLogin yes' /etc/ssh/sshd_config

# Install SSH keys to root
mkdir -m700 /root/.ssh
cat >> /root/.ssh/authorized_keys << EOF
%SSH_KEY%
EOF
chown -R root:root /root/.ssh

%end
